<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predefined Fields</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .predefined-fields {
            margin-bottom: 20px;
        }

        .predefined-field {
            margin-bottom: 10px;
        }

        .predefined-field h3 {
            margin-bottom: 5px;
        }

        .predefined-field p {
            margin: 0;
        }
    </style>
</head>
<body>
        <br>
        <br>
        <h1 align="center">Contact Us</h1>
    <div class="predefined-fields">
        <div class="predefined-field">
            <h3>Call Us:</h3>
            <p>+91 7816073477</p>
        </div>
        <div class="predefined-field">
            <h3>Location:</h3>
            <p>Usha Rama College of Eng & Tech</p>
        </div>
        <div class="predefined-field">
            <h3>Email ID:</h3>
            <p>subhashakula21@gmail.com</p>
        </div>
        <div class="predefined-field">
                <h3>Summary</h3>
                <p>Explore the theory of programming languages, diving into how they're crafted, executed, and leveraged. Uncover the nuances of syntax, semantics, and practicality to grasp their coding capabilities, computational frameworks, and real-world application in software development."</p>
            </div>
    </div>
</body>
</html>
